@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');

.logo {
    cursor: pointer;
    
    .title {
        font-family: 'McLaren', cursive;
        font-size: 1.9em;
         color:#f5811f;
    }


}

.more {
    color:#f5811f;
    cursor: pointer;
    font-size: 1.1em;
}