@import '../../../assets/styles/variables.scss';

.col{
    // border: 1px solid grey;
}

.main-indicators{
    font-size: 42px;
}

.suppl-indicators {
    font-size: 32px;
}

.location {
   margin-top: 50px;
   margin-left: 10px;
   margin-right: 20px;
   margin-bottom: 50px;

   h3{
       font-size: 2.3em;
   }

   input {
       outline: none;
       border: 1px solid gray;
       border-radius: 5px;

       &:focus{
           border-color: $logo-title-color;
           &::placeholder{
               color: white;
           }
       }
   }

   .search-icon {
       font-size: 1.3em;
       color: $logo-title-color;
       cursor: pointer;
   }
}